.main-nav {


  $block-name:                &; // #{$block-name}__element

  display: none;
  position: fixed;
  z-index: 5;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding-top: 160px;
  padding-bottom: 48px;
  background-color: $overlay-color;
  backdrop-filter: blur(64px);
  overflow-y: auto;

  // первый уровень
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    color: $white;

    ul {
      padding-left: 8px;

      ul > li {

        & > a {
          font-size: 14px;
        }
      }
    }

    & > li {

      & > a {
        font-weight: 600;
      }
    }

    li.active {

      & > a {
        color: $link-color;
        pointer-events: none;
      }
    }

    a {
      display: inline-block;
      vertical-align: baseline;
      padding: 5px 0;
      line-height: 1.35;
      color: inherit;

      &:hover,
      &:focus {
        text-decoration: none;
      }
    }
  }

  &__item {
    @include col(md, 4);
    margin-bottom: 64px;

    & > ul {
      padding-top: 12px;
      margin-top: 12px;
      border-top: 1px solid rgba(255, 255, 255, 0.5);

      & > li:not(:first-child) {
        padding-top: 8px;
        margin-top: 8px;
        border-top: 1px solid rgba(255, 255, 255, 0.15);
      }

      & > li > a {
        font-weight: 500;
      }
    }
  }

  &__link {
    display: block;
  }

  &--show {
    display: block !important;
  }
}
