.page-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  height: 80px;
  color: $white;
  background-color: transparent;

  @media (min-width: $screen-md) {
    height: 96px;
  }

  // @media (min-width: $screen-xl) {

  // }

  $block-name:                &; // #{$block-name}__element

  &__inner {
    position: relative;
    height: 100%;

    &::before {
      display: block;
      content: "";
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 1px;
      background-color: rgba(255, 255, 255, 0.45);

      @media (min-width: $screen-xl) {
        display: none;
      }
    }

    .row {
      height: inherit;
    }
  }

  &__logo {
    display: flex;
    @include col(xs, 5, $grid-columns, 14px);
    @include col(md, 3);
    @include col(xl, 2);

    .logo {
      margin: auto 0;
      color: inherit;
      // margin-top: auto;
      // margin-bottom: 13px;

      // @media (min-width: $screen-md) {
      //   margin-bottom: 19px;
      // }

      @media (min-width: $screen-xl) {
        //margin-bottom: 7px;
      }

      &:hover,
      &:focus {
        color: $main-color;
      }

      svg #text-group {
        fill: currentColor;
      }
    }
  }

  &__menu {
    @include col(xs, 7, $grid-columns, 14px);
    @include col(md, 9);
    @include col(xl, 10);

    @media (min-width: $screen-xl) {
      padding-left: calc(90px - 16px);
    }
  }

  &__menu-inner {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;

    @media (min-width: $screen-xl) {
      align-items: center;
    }

    &::before {
      @media (min-width: $screen-xl) {
        display: block;
        content: "";
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 1px;
        background-color: rgba(255, 255, 255, 0.45);
      }
    }
  }

  &__tel {
    display: none;
    margin-right: auto;
    font-size: 18px;
    font-weight: 600;
    color: inherit;

    @media (min-width: $screen-md) {
      display: inline-block;
      vertical-align: baseline;
    }

    &:hover,
    &:focus {
      //color: currentColor;
      text-decoration: none;
    }
  }

  &__order {

    .dropdown-menu {
      top: 21px !important;
      min-width: 320px;
      padding: 10px 20px;

      @media (min-width: $screen-md) {
        top: 29px !important;
        min-width: 500px;
      }

      @media (min-width: $screen-xl) {
        min-width: 565px;
      }
    }
  }

  &__order-btn {
    @include btn-templ;
    display: flex;
    align-items: center;
    min-width: 32px;
    min-width: 32px;
    padding: 0;
    font-size: 18px;
    font-weight: 500;
    color: inherit;
    transition: color 0.2s ease;

    &::after {
      display: none;
    }

    &:hover,
    &:focus {
      color: $main-color;
    }
  }

  &__form-inner {

    @media (min-width: $screen-md) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 24px;
    }

    .field-text {

      @media (min-width: $screen-md) {
        flex: 1 1;
        flex-basis: auto;
        display: flex;
        align-items: center;
        margin-bottom: 0;
        border-bottom: 1px solid $border-color;
      }
    }

    .field-text__name {

      @media (min-width: $screen-md) {
        flex: 0 0;
        flex-basis: auto;
        margin-right: 15px;
        margin-bottom: 0;
      }
    }

    .field-text__input-wrap {

      @media (min-width: $screen-md) {
        flex: 1 1;
        flex-basis: auto;
      }
    }

    .field-text__input {
      padding-left: 15px;
      background-color: $white;
      border-bottom-color: transparent;
    }

    .btn--only-icon-xl {

      @media (min-width: $screen-xs) and (max-width: $screen-md - 1) {
        display: none;
      }

      @media (min-width: $screen-md) {
        display: block;
        flex: 0 0;
        flex-basis: 48px;
      }
    }
  }

  &__btn-text {
    display: none;

    @media (min-width: $screen-xl) {
      display: inline-block;
      vertical-align: baseline;
      margin-right: 12px;
      line-height: 1;
      color: inherit;
    }
  }

  &__btn-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;

    svg {
      display: block;
    }
  }

  &--has-background {
    color: $text-color;
    background-color: rgba($white, 0.95);
    backdrop-filter: blur(16px);
    //box-shadow: 0 4px 16px rgba(0,0,0,0.5);

    .logo {

      #text-group {
        fill: $text-color;
      }

      #icon {
        stroke-width: 2px;
        //stroke: $white;
        stroke: url(#logoGradient);
        fill: url(#logoGradient);
        fill-opacity: 1;
      }
    }
  }
}
