.client-card {
  display: block;
  height: 100%;
  background-color: $white;
  color: $text-color;
  border-radius: 16px;
  overflow: hidden;

  $block-name:                &; // #{$block-name}__element

  &:hover,
  &:focus {
    text-decoration: none;
  }

  &__wrapper {
    margin-bottom: 64px;

    @media (min-width: $screen-xl) {
      padding: 0 16px;
    }
  }

  &__img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 160px;
    overflow: hidden;
    background-color: $white;
    box-shadow: 0 30px 40px rgba(212, 217, 232, 0.2);

    img {
      width: 387px;
      height: 160px;
      object-fit: cover;
      object-position: center;
    }
  }

  &__text {
    padding: 24px;
    font-size: 14px;
    text-align: center;

    a:not(.btn) {
      display: inline-block;
      vertical-align: baseline;
      transition: color 0.2s ease;
    }
  }
}
