.hero {
  height: 100vh;
  max-height: 100vh;

  $block-name:                &; // #{$block-name}__element

  &__container {
    width: 100%;
    height: 100vh;

    &::before {
      display: block;
      content: "";
      position: absolute;
      z-index: 2;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: $overlay-color;
      pointer-events: none;
    }
  }

  &__slide {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: #051d2f;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}
