$gray-lighter:                hsl(0, 0%, 80%) !default;
$gray-lightest:               hsl(0, 0%, 90%) !default;

.loader {

  $block-name:                &; // #{$block-name}__element

  display: inline-block;

  &:before {
    content: '';
    display: block;
    width: 30px;
    height: 30px;
    border: 4px solid $main-color;
    border-top: 4px solid $gray-lightest;
    border-bottom: 4px solid $gray-lightest;
    border-radius: 50%;
    animation: loader-rotate 1s linear infinite;
  }
}



@keyframes loader-rotate {

  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}
