.lang-switcher {

  margin-left: 16px;

  @media (min-width: $screen-md) {
    display: inline-flex;
    max-width: 90px;
    margin-left: 32px;
  }

  @media (min-width: $screen-xl) {
    margin-left: 48px;
  }

  $block-name:                &; // #{$block-name}__element

  .dropdown-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 32px;
    min-height: 32px;
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-weight: 500;
    line-height: 1;
    color: inherit;
    background-color: transparent;
    border: none;
    user-select: none;
    cursor: pointer;

    &::after {
      display: none;
    }
  }

  .dropdown-menu {
    top: 22px !important;
    min-width: 55px;
    width: 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border: none;

    @media (min-width: $screen-md) {
      top: 29px !important;
    }
  }

  .dropdown-item {
    font-family: $font-family;
    font-size: $font-size;
    font-weight: 600;
    padding: 5px 15px;
    text-align: center;
    color: inherit;

    &:hover,
    &:focus {
      color: $main-color;
      background-color: transparent;
    }
  }

  .active {

    .dropdown-item {
      color: $main-color;
      pointer-events: none;
    }
  }

  &__current {
    display: none;

    @media (min-width: $screen-xl) {
      display: block;
      margin-right: 14px;
    }
  }

  &__list-item {

    & + & {
      margin-top: 10px;
    }
  }

  &__btn {
    transition: color 0.2s ease;

    &:hover,
    &:focus {
      color: $main-color;
    }
  }
}
