.logo {

  $block-name:                &; // #{$block-name}__element

  display: inline-block;
  vertical-align: top;
  font-size: 0;
  white-space: nowrap;

  .logo-img {
    width: 114px;
    height: 41px;

    @media (min-width: $screen-md) {
      width: 145px;
      height: 52px;
    }

    @media (min-width: $screen-xl) {
      width: 174px;
      height: 64px;
    }
  }

  #text-group {
    fill: $white;
  }

  #icon {
    stroke-width: 2px;
    stroke: $white;
    //stroke: url(#logoGradient);
    fill: url(#logoGradient);
    fill-opacity: 0;
  }

  &--footer {
    width: 145px;
    height: 52px;
  }
}
