.text-page-content {

  @media (min-width: $screen-xl) {
    padding: 0 16px;
  }

  $block-name:                &; // #{$block-name}__element

  &:not(:last-child) {
    margin-bottom: 92px;

    @media (min-width: $screen-md) {
      margin-bottom: 116px;
    }

    @media (min-width: $screen-xl) {
      padding: 0 16px;
      margin-bottom: 132px;
    }
  }

  .decorated-list {
    margin: 0;
    padding: 0;
  }
}
