.media-link-card {
  //display: block;

  @media (min-width: $screen-xl) {
    padding-left: 16px;
    padding-right: 16px;
  }

  $block-name:                &; // #{$block-name}__element

  &__inner {
    position: relative;
  }

  &__text {
    padding: 16px 0;
  }

  &__link {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    font-weight: 600;
    color: $text-color;

    &:hover,
    &:focus {
      text-decoration: none;
    }

    &::after {
      flex: 0 0;
      flex-basis: 24px;
      display: block;
      content: "";
      width: 24px;
      height: 24px;
      margin-left: 24px;
      background-color: transparent;
      background-repeat: no-repeat;
      background-size: 20px;
      background-position: center;
      background-image: svg-load('../blocks/aside-nav/bg-img/arrow-circle-right-fill-icon.svg', fill=$main-color);
      transition: all 0.3s ease;
    }

    &::before {
      display: block;
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }

    span {
      flex: 1 1;
      flex-basis: auto;
    }
  }
}
