.burger {

  $block-name:                &; // #{$block-name}__element

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 100%;
  padding: 0;
  margin-left: 16px;
  font-size: 18px;
  font-weight: 500;
  color: $white;
  background-color: $main-color;
  border: none;
  user-select: none;
  cursor: pointer;

  @media (min-width: $screen-md) {
    width: 80px;
    margin-left: 32px;
  }

  @media (min-width: $screen-xl) {
    width: auto;
    padding-left: 24px;
    padding-right: 24px;
    margin-left: 48px;
  }

  &__icon {
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25px 19px;
    background-image: svg-load('../blocks/burger/bg-img/burger-icon.svg', fill=$white);
  }

  // &--open {
  //   #{$block-name}__icon {
  //     background-size: 25px 19px;
  //     background-image: svg-load('../blocks/burger/bg-img/burger-icon.svg', fill=$white);
  //   }
  // }

  &--close {

    #{$block-name}__icon {
      background-size: 26px 26px;
      background-image: svg-load('../blocks/burger/bg-img/close-icon.svg', fill=$white);
    }
  }
}
